<div ng-class="{
'bg-sunny': currWeatherResult.weather[0].main==='Clear', 
'bg-mist': currWeatherResult.weather[0].main==='Mist' || currWeatherResult.weather[0].description==='mist' || currWeatherResult.weather[0].description==='haze' || currWeatherResult.weather[0].main==='Haze', 
'bg-scattered': currWeatherResult.weather.main==='Scattered', 
'bg-rain': currWeatherResult.weather[1].description==='rain' || currWeatherResult.weather[1].main==='Rain' || currWeatherResult.weather[0].description==='rain' || currWeatherResult.weather[0].main==='Rain' || currWeatherResult.weather[0].description==='moderate rain' || currWeatherResult.weather[0].description==='light intensity shower rain', 
'bg-snow':currWeatherResult.weather[0].main==='Snow', 
'bg-cloud': currWeatherResult.weather[0].main==='Clouds', 
'bg-thunderstorm': currWeatherResult.weather[0].main==='Thunderstorm', 
'bg-few': currWeatherResult.weather[0].description==='few clouds'}" style="overflow-y: hidden;">
	<div class="blend">
		<div class="search-b col-sm-1 col-md-1 col-lg-1 col-lg-offset-11 col-sm-offset-11 col-md-offset-11">
		<a href="#home" data-toggle="tooltip" data-placement="left" title="New research!">
			<i class="fa fa-search" aria-hidden="true"></i>
		</a>
	</div>
		<div class="text-center city">
			<p>
				<b>
				{{(currWeatherResult.weather[0].description || currWeatherResult.weather[1].description) | capitalize}} in 
				<br>
				{{city | capitalize}}
				</b>
			</p>
			<p>
				{{convertToCelsius(currWeatherResult.main.temp)}}°C
			</p>
		</div>
		<div class="row">
			<div ng-if="currWeatherResult.weather[1].description==='rain' || currWeatherResult.weather[1].main==='Rain' || currWeatherResult.weather[0].description==='rain' || currWeatherResult.weather[0].main==='Rain' || currWeatherResult.weather[0].description==='moderate rain' || currWeatherResult.weather[0].description==='light intensity shower rain'">
				<blockquote class="thought">
					Yeah. Nice. Cool. STOP IT NOW, STUPID WEATHER!!!
				</blockquote>
			</div>
			<div ng-if="currWeatherResult.weather[0].main==='Snow'">
				<blockquote class="thought">
					I already see the moment when this will melt down. MHMMMMM
				</blockquote>
			</div>
			<div ng-if="currWeatherResult.weather[0].description==='scattered clouds' || currWeatherResult.weather.main==='Scattered' || currWeatherResult.weather[0].description==='few clouds'"
				<blockquote class="thought">
					That's fine
				</blockquote>
			</div>
			<div ng-if="currWeatherResult.weather[0].description==='overcast clouds'">
				<blockquote class="thought">
					Sooooo boring!
				</blockquote>
			</div>
			<div ng-if="currWeatherResult.weather[0].main==='Mist' || currWeatherResult.weather[0].main==='Haze' || currWeatherResult.weather[0].description==='haze'">
				<blockquote class="thought">
					That's soooo annoying :V
				</blockquote>
			</div>
			<div ng-if="currWeatherResult.weather[0].main==='Thunderstorm'">
				<blockquote class="thought">
					Cool!Let me grab some pop-corn
				</blockquote>
			</div>
			<div ng-if="currWeatherResult.weather[0].main==='Clear'">
				<blockquote class="thought">
					Today chemitrails are sooo bright!
				</blockquote>
			</div>
		</div>
		<div class="temp-cont" >
			<ul>
				<li ng-repeat="d in weatherResult.list track by $index" class="col-sm-2  col-md-2 col-lg-2">
					{{d.name}}
					<p class="hour">
						{{convertDate(d.dt)| date:"HH:mm" : 'UTC'}}
					</p>
					
					<p ng-if="d.weather[0].main==='Clear' && day" class="sunny">{{day}}
						<i class="fa fa-sun-o" aria-hidden="true"></i>
					</p>
					<p ng-if="d.weather[0].main==='Clear' && !day">{{day}}
						<i class="fa fa-moon-o" aria-hidden="true"></i>
					</p>

					<p ng-if="d.weather[0].main==='Mist'">
						<i class="fa fa-bars" aria-hidden="true"></i>
					</p>
					<p ng-if="d.weather[0].main==='Scattered'">
						<i class="fa fa-cloud" aria-hidden="true"></i>
					</p>
					<p ng-if="d.weather[0].main==='Rain'" class="dropy">
						<i class="fa fa-tint " aria-hidden="true"></i>
					</p>
					<p ng-if="d.weather[0].main==='Clouds'">
						<i class="fa fa-cloud" aria-hidden="true"></i>
					</p>
					<p ng-if="d.weather[0].main==='Snow'">
						<i class="fa fa-snowflake-o" aria-hidden="true"></i>
					</p>
					<p ng-if="d.weather[0].main==='Thunderstorm'" class="bolty">
						<i class="fa fa-bolt" aria-hidden="true"></i>
					</p>
					<p>
						Min: {{convertToCelsius(d.main.temp_min)}}°C
					</p>
					<p>
						Max: {{convertToCelsius(d.main.temp_max)}}°C 
					</p>
				</li>
			</ul>
		</div>
	</div>	
</div>
<!--current time il ciclo delle direttive yo patate-->