<div class="bg-c">	
	<div class="h">
		<p class="title">
			Where do you fucking live?
		</p>
		<br>
		<form ng-submit="goto()">
			<div class="form-group">
				<input type="text" class="form-control pipe" ng-model="city" autofocus>
			</div>
		</form>
	</div> 
</div>
<div class="foo">    
    <div class="container-fluid">
        <div class="tech-cont">
			<ul>
				<li>
					<a href="https://angularjs.org/">
						<img src="img/ng.png" height="50" width="50">
					</a>
				</li>
				<li>
					<a href="http://gulpjs.com/">
						<img src="img/g.png" height="50" width="25">
					</a>
				</li>
				<li>
					<a href="https://www.npmjs.com/">
						<img src="img/npm.png"style="margin-top:10px" height="25" width="50">
					</a>
				</li>
				<li>
					<a href="http://getbootstrap.com/">
						<img src="img/boo.png"style="margin-top:10px" height="50" width="60">
					</a>
				</li>
				<li>
					<a href="http://sass-lang.com/">
						<img src="img/sass.png"style="margin-top:10px" height="50" width="60">
					</a>
				</li>
			</ul>
        </div>
        <div class="border">
        	<h5>
        		Coded with <img src="img/heart.png"> by <a href="https://www.linkedin.com/in/nadia-guarracino17/">Nadia G.</a>
        	</h5>
        </div>
    </div>    
</div>  
<!--
Inserendo ng-submit al form e usando $location.path nella funzione corrispondente
possiamo cliccare il tasto enter della tastiera e andare alla pagina desiderata
indicata nella $location.path.
$location.path("/") funziona come un link
-->