.foo {
  background-color: #303135; }

.tech-cont {
  height: 5vh;
  width: 30vw;
  position: relative;
  margin: 0 auto;
  padding-top: 2%;
  padding-bottom: 5%; }

.tech-cont ul li {
  display: inline-block;
  width: 5vw; }

.border {
  position: relative;
  margin: 0 auto;
  text-align: center;
  width: 30vw;
  border-top: 0.5px solid gray;
  color: gray;
  padding-top: 1%;
  padding-bottom: 2%; }
