/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  @keyframes slideInFromLeft {
    0% {
      transform: translatey(-10%); }
    100% {
      transform: translatey(0); } }
  @keyframes jumpy {
    0% {
      transform: translatey(10%); }
    25% {
      transform: translatey(5%); }
    50% {
      transform: translatey(0); }
    25% {
      transform: translatey(5%); }
    100% {
      transform: translatey(10%); } }
  @keyframes dropy {
    100% {
      transform: translatey(100%); } }
  @keyframes bolty {
    100% {
      transform: translatex(100%); } }
  @keyframes sunny {
    from {
      transform: rotate(0deg); }
    to {
      transform: rotate(360deg); } }
  @keyframes scale {
    0% {
      text-shadow: blue 0 0 50px; }
    10% {
      text-shadow: green 0 0 50px; }
    50% {
      text-shadow: #ccff00 0 0 50px; }
    75% {
      text-shadow: green 0 0 50px; }
    100% {
      text-shadow: blue 0 0 50px; } }
  @keyframes fadein {
    from {
      opacity: 0; }
    to {
      opacity: 1; } }
  @-webkit-keyframes pipe {
    50% {
      border-color: transparent; } } }
