/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  @keyframes slideInFromLeft {
    0% {
      transform: translatey(-10%); }
    100% {
      transform: translatey(0); } }
  @keyframes jumpy {
    0% {
      transform: translatey(10%); }
    25% {
      transform: translatey(5%); }
    50% {
      transform: translatey(0); }
    25% {
      transform: translatey(5%); }
    100% {
      transform: translatey(10%); } }
  @keyframes dropy {
    100% {
      transform: translatey(100%); } }
  @keyframes bolty {
    100% {
      transform: translatex(100%); } }
  @keyframes sunny {
    from {
      transform: rotate(0deg); }
    to {
      transform: rotate(360deg); } }
  @keyframes scale {
    0% {
      text-shadow: blue 0 0 50px; }
    10% {
      text-shadow: green 0 0 50px; }
    50% {
      text-shadow: #ccff00 0 0 50px; }
    75% {
      text-shadow: green 0 0 50px; }
    100% {
      text-shadow: blue 0 0 50px; } }
  @keyframes fadein {
    from {
      opacity: 0; }
    to {
      opacity: 1; } }
  @-webkit-keyframes pipe {
    50% {
      border-color: transparent; } } }

@media only screen and (min-width: 320px) {
  .foo {
    background-color: #303135; }
  .tech-cont {
    height: 5vh;
    width: 59vw;
    position: relative;
    margin: 0 auto;
    padding-top: 5%;
    padding-bottom: 8%;
    left: 3vw; }
  .tech-cont ul li {
    display: inline-block;
    width: 10vw; }
  .border {
    position: relative;
    margin: 0 auto;
    text-align: center;
    width: 30vw;
    border-top: 0.5px solid gray;
    color: gray;
    padding-top: 1%;
    padding-bottom: 5%; } }

@media only screen and (min-width: 992px) {
  .tech-cont {
    width: 64vw;
    left: 3vw; }
  .tech-cont ul li {
    display: inline-block;
    width: 12vw; } }

@media only screen and (min-width: 1200px) {
  .tech-cont {
    width: 70vw;
    left: 3vw; }
  .tech-cont ul li {
    display: inline-block;
    width: 12vw; } }

@media only screen and (min-width: 320px) {
  .swal2-show {
    -webkit-animation: showSweetAlert 2s !important;
    animation: showSweetAlert 2s !important; }
  .dropy:hover {
    animation: jumpy 0.5s infinite; }
  .sunny:hover {
    animation: sunny 2s linear infinite; }
  .bolty:hover {
    animation: bolty 2s linear infinite; }
  .bg-rain,
  .bg-scattered,
  .bg-sunny,
  .bg-mist,
  .bg-snow,
  .bg-cloud,
  .bg-thunderstorm {
    background-size: cover;
    height: 100vh; }
  .bg-rain {
    background-image: url("../img/rai.jpg"); }
  .bg-scattered {
    background-image: url("../img/f.jpg"); }
  .bg-sunny {
    background-image: url("../img/sun.jpg"); }
  .bg-mist {
    background-image: url("../img/mist2.jpg"); }
  .bg-snow {
    background-image: url("../img/sn1.jpg"); }
  .bg-cloud {
    background-image: url("../img/clcl.jpg"); }
  .bg-thunderstorm {
    background-image: url("../img/thh.jpg"); }
  .bg-few {
    background-image: url("../img/ff.jpg"); }
  .high {
    height: 5rem;
    width: auto;
    margin-top: 2rem; }
  .row > div > h6 {
    padding-left: 4%; }
  .position {
    position: relative;
    left: 20vw;
    top: 100vh; }
  .temp-cont {
    height: 15vh;
    width: 100%;
    color: white;
    position: relative;
    top: 4vh;
    padding-left: 10vw;
    padding-top: 2vh; }
  .temp-cont > ul > li {
    text-align: center; }
  .temp-cont > ul > li:hover {
    animation: scale 1s linear infinite; }
  .hour {
    font-size: 2.9rem;
    font-weight: bold; }
  .blend {
    background: linear-gradient(181deg, rgba(8, 247, 216, 0.2) 0%, rgba(8, 247, 216, 0.5) 10%, rgba(6, 218, 224, 0.5) 29%, rgba(5, 162, 240, 0.5) 66%);
    position: relative;
    top: 25vh;
    left: 0;
    width: 100%;
    height: 45%;
    overflow-x: hidden;
    overflow-y: hidden;
    border-top: 1px solid #08f7d8;
    border-bottom: 1px solid #05a2f0;
    animation: 2s ease-out 0s 1 slideInFromLeft; }
  .thought {
    color: white;
    font-size: 3rem;
    margin-top: 2vh;
    margin-left: 17vw; }
  .city {
    color: white;
    font-size: 5rem;
    margin-top: 2vh; }
  blockquote footer {
    color: white; }
  .search-b {
    color: white;
    font-size: 3rem;
    position: relative;
    top: 4vh;
    animation: jumpy 0.5s infinite; }
  .search-b a:hover {
    color: #08f7d8; } }

@media only screen and (min-width: 768px), screen and (min-height: 600px) {
  .blend {
    height: 45%; } }

@media only screen and (min-width: 1024px) {
  .blend {
    top: 20vh; }
  .thought {
    margin-left: 10vw; }
  .search-b {
    color: white;
    font-size: 3rem; } }

@media only screen and (min-width: 1200px), screen and (min-height: 1000px) {
  .blend {
    top: 10vh;
    height: 75%; }
  .thought {
    margin-left: 12vw; }
  .search-b {
    color: white;
    font-size: 3rem;
    top: 6vh; } }

@media only screen and (min-width: 1400px), screen and (min-height: 900px) {
  .blend {
    top: 8vh;
    height: 85%; }
  .thought {
    margin-left: 26vw; }
  .search-b {
    color: white;
    font-size: 3rem;
    top: 6vh; } }

@media only screen and (min-width: 1900px) {
  .blend {
    top: 15vh;
    height: 70vh; }
  .thought {
    margin-left: 30vw; }
  .search-b {
    color: white;
    font-size: 3rem; } }

@media only screen and (min-width: 320px) {
  .bg-c {
    background-image: url("../img/4.jpg");
    background-size: cover;
    height: 100vh; }
  .title,
  input[type="text"] {
    animation: fadein 2s; }
  .title {
    color: white;
    font-size: 4.5rem; }
  .layout {
    margin-top: 20vh; }
  input[type="text"],
  input[type="text"]:focus {
    box-shadow: none;
    border-style: none;
    border-radius: 0;
    background-color: rgba(5, 162, 240, 0.59);
    color: white;
    text-align: center;
    font-size: 4rem;
    height: 5vh;
    width: 35vw;
    margin: 0 auto;
    text-transform: capitalize; }
  .h {
    text-align: center;
    border-top: 1px solid #05a2f0;
    border-bottom: 1px solid #05a2f0;
    position: relative;
    top: 33.3vh;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: rgba(5, 162, 240, 0.25);
    animation: 1s ease-out 0s 1 slideInFromLeft; } }

@media only screen and (min-width: 992px) {
  input[type="text"],
  input[type="text"]:focus {
    height: 10vh; } }

body {
  font-family: 'Raleway', sans-serif;
  height: 100vh; }

ul li {
  list-style-type: none;
  display: inline-block; }

li {
  font-size: 2rem; }

a:link {
  color: white;
  text-decoration: none; }

a:visited {
  color: white;
  text-decoration: none; }

a:hover {
  color: white;
  text-decoration: none; }

a:active {
  color: white;
  text-decoration: none; }
