@media only screen and (min-width : 320px) {
	.foo{
        background-color: #303135;
    }
    .tech-cont{
        height: 5vh;
        width: 59vw;
        position: relative;
        margin: 0 auto;
        padding-top: 5%;
        padding-bottom: 8%;
        left: 3vw;
    }

    .tech-cont ul li {
        display: inline-block;
        width: 10vw;
    }
    .border{
        position: relative;
        margin: 0 auto;
        text-align: center;
        width: 30vw;
        border-top: 0.5px solid gray;
        color: gray;
        padding-top: 1%;
        padding-bottom: 5%;
    }
}

@media only screen and (min-width : 992px) {
	 .tech-cont{
        width: 64vw;
        left: 3vw;
    }

    .tech-cont ul li {
        display: inline-block;
        width: 12vw;
    }
}

@media only screen and (min-width : 1200px){
	 .tech-cont{
        width: 70vw;
        left: 3vw;
    }

    .tech-cont ul li {
        display: inline-block;
        width: 12vw;
    }

}