$tc: mediumvioletred;
$g: lightgray;
$w: white;
$a: #05a2f0;

@media only screen and (min-width : 320px) {
	.bg-c {
        background-image: url("../img/4.jpg");
        background-size: cover;
        height: 100vh;
        //background-
        //background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(128,0,128,1)), color-stop(100%, rgba(0,128,128,1))); /* safari4+,chrome */
    }

    .title,
    input[type="text"] {
        animation: fadein 2s;
    }

    .title{
        color: $w;
        font-size: 4.5rem;
    }
    .layout {
        margin-top: 20vh;
    }

    input[type="text"],
    input[type="text"]:focus{
        box-shadow: none;
        border-style: none;
        border-radius: 0;
        background-color: rgba(5, 162, 240, 0.59);
        color: $w;
        text-align: center;
        font-size: 4rem;
        height: 5vh;
        width: 35vw;
        margin: 0 auto;
        text-transform: capitalize;
    }

    .h {
        text-align: center;
        border-top: 1px solid $a;
        border-bottom: 1px solid $a;
        position:relative;
        top: 33.3vh;
        padding-top: 5%;
        padding-bottom: 5%;
        background-color: rgba(5, 162, 240, 0.25);
        //background-color: rgba(199, 21, 133, 0.1);
        animation: 1s ease-out 0s 1 slideInFromLeft;
    } 
}

@media only screen and (min-width : 992px) {
	input[type="text"],
    input[type="text"]:focus{
        height: 10vh;
    }
}

@media only screen and (min-width : 1200px){}