$tc: mediumvioletred;
$g: lightgray;
$w: white;
$a: #05a2f0;
$b: #08F7D8;

@media only screen and (min-width : 320px) {
    .swal2-show {
      -webkit-animation: showSweetAlert 2s !important;
              animation: showSweetAlert 2s !important; 
    }
	.dropy:hover{
		animation: jumpy 0.5s infinite;
	}
	.sunny:hover{
		animation: sunny 2s linear infinite;
	}
	.bolty:hover{
		animation: bolty 2s linear infinite;
	}
	.bg-rain,
    .bg-scattered,
    .bg-sunny,
    .bg-mist,
    .bg-snow,
    .bg-cloud,
    .bg-thunderstorm{
        background-size: cover;
        height: 100vh;
    }
    
    .bg-rain{ background-image: url("../img/rai.jpg");}
    .bg-scattered{ background-image: url("../img/f.jpg");}
    .bg-sunny{ background-image: url("../img/sun.jpg");}
    .bg-mist{ background-image: url("../img/mist2.jpg");}
    .bg-snow{ background-image: url("../img/sn1.jpg");}
    .bg-cloud{ background-image: url("../img/clcl.jpg");}
    .bg-thunderstorm{ background-image: url("../img/thh.jpg");}
    .bg-few{background-image: url("../img/ff.jpg")}

    .high{
        height: 5rem;
        width: auto;
        margin-top: 2rem;
    }

    .row > div >h6 {
        padding-left: 4%;
    }
    .position{
        position: relative;
        left: 20vw;
        top: 100vh;
    }

    .temp-cont{
    	height: 15vh;
    	width: 100%;
    	color: white;
    	position: relative;
    	top: 4vh;
    	padding-left: 10vw;
    	padding-top: 2vh;
    }

    .temp-cont > ul > li{
    	text-align: center;
    }

    .temp-cont > ul > li:hover{
    	//text-shadow: #ccff00 0 0 10px;
    	animation: scale 1s linear infinite;
    }

    .hour{
    	font-size: 2.9rem;
    	font-weight: bold;
    }

    .blend{
    	//background-color: rgba(8, 247, 216, 0.4);
    	background: linear-gradient(181deg, rgba(8,247,216,0.2) 0%, rgba(8,247,216,0.5) 10%, rgba(6,218,224,0.5) 29%, rgba(5,162,240,0.5) 66%);
	  	position: relative;
	  	top: 25vh;
	  	left: 0;
	  	width: 100%;
	  	height: 45%;
	  	overflow-x: hidden;
	  	overflow-y: hidden;
	  	border-top: 1px solid rgb(8, 247, 216);
	  	border-bottom: 1px solid #05a2f0;
	  	animation: 2s ease-out 0s 1 slideInFromLeft;
       // background: black;

    }

    .thought{
    	color: white;
    	font-size: 3rem;
    	margin-top: 2vh;
    	margin-left: 17vw; 
    }

    .city{
    	color: white;
    	font-size: 5rem;
    	margin-top: 2vh;
    }

    blockquote footer{
    	color: white;
    }

    .search-b{
    	color: white;
    	font-size: 3rem;
    	position:relative;
    	top: 4vh;
    	animation: jumpy 0.5s infinite;
    }

    .search-b a:hover{
		color: rgb(8, 247, 216);
    }
}
@media only screen and (min-width : 768px), screen and (min-height: 600px){
	.blend{
		height: 45%;
	}
}
@media only screen and (min-width : 1024px) {
	.blend{
	  	top: 20vh;
    }
    .thought{
    	margin-left: 10vw; 
    }
    .search-b{
    	color: white;
    	font-size: 3rem;
    }
}

@media only screen and (min-width : 1200px), screen and (min-height: 1000px) {
	.blend{
	  	top: 10vh;
	  	height: 75%;
    }
    .thought{
    	margin-left: 12vw; 
    }
    .search-b{
    	color: white;
    	font-size: 3rem;
    	top: 6vh;
    }
}

@media only screen and (min-width : 1400px), screen and (min-height: 900px) {
	.blend{
	  	top: 8vh;
	  	height: 85%;
    }
    .thought{
    	margin-left: 26vw; 
    }
    .search-b{
    	color: white;
    	font-size: 3rem;
    	top: 6vh;
    }
}

@media only screen and (min-width : 1900px) {
	.blend{
	  	top: 15vh;
	  	height: 70vh;
    }
    .thought{
    	margin-left: 30vw; 
    }
    .search-b{
    	color: white;
    	font-size: 3rem;
    }	
}