@import 'media', 'foo', 'weather','home';

$tc: mediumvioletred;
$g: lightgray;
$w: white;
$a: #05a2f0;
 
 
body {
	font-family: 'Raleway', sans-serif;
	height:100vh;
}


ul li {
	list-style-type: none;
	display: inline-block;
}
li {
	font-size: 2rem;
}
a:link 		{color: white; text-decoration: none;}
a:visited 	{color: white; text-decoration: none;}
a:hover 	{color: white; text-decoration: none;}
a:active 	{color: white; text-decoration: none;}



